
@font-face{
	font-family:"lemonbold";
	src: url('./fonts/Lemon Milk/LEMONMILK-Bold.otf') format("Bold");
	font-style: normal; 
  	font-weight: normal; 
}


body {
	margin:0;
	font-family: 'lemon', Arial, sans-serif;
	color: white;
    background-image: url('../img/Galaxy.png');
    background-repeat: no-repeat;
    background-size: cover;

}
/* Container*/
.container {
	width: 100%;
	max-width:1200px;
	margin: 0 auto;

}

.containerintro {
	width: 100%;
	max-width:1600px;
	margin: 0 auto;

}

h1, h2, h3,h4, h5,h6{
	margin: 0;
}
/* Intro */
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh; /*сто процентов экрана*/

}

.intro__inner{
	width:100;
	max-width: 1600px;
}

.moonbox{
	display: flex;
	align-items: right;
	justify-content: right;
}

.moon{
	width: 15%;
	height: auto;
}

.intro__title {
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}

.intro_subtitle{
	font-size: 72px;

}

.intro__subtitle:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 20px auto;

}


/* Header*/
.header{
	width:100%;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
}

.header__inner {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 20px;
	font-weight: 700;
	color:#fff;
}

.nav{
	font-size: 20px;
	font-weight:500 ;
	text-transform: uppercase;
}

.nav__link{
	vertical-align: top;
	margin: 10px 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s linear;
	position: relative;
}

.nav__link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;

	background-color:#BF4BAC ;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover{
	color: #BF4BAC;
}

.nav__link:hover:after{
	display: block;
}

/* Button */
.btn {
	display: inline-block;

	vertical-align: top;
	padding: 8px 18px;

	border: 2px solid #fff;

	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;

}

.btn:hover{
	background-color: #fff;
	color :#BF4BAC
}

/* section*/
.section {
	padding: 80px 0;

}

.section__header{
	margin-bottom: 40px;
	text-align: left;
}

.containersection {
	padding: 200px 10px 500px;
	width: 100%;
	height: auto;
	max-width:1600px;
	margin: 0 auto;
	background-image: url('../img/Nebula.jpg');
	background-repeat: no-repeat;
    background-size: cover;


}

.sectionabout{
	width: 400px;
	height: auto;
	background-color: #8C8C8C;
	float: right;
	text-align: center;
	border-radius: 20px;


}